
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Cohen Garden: Project Description</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Cohen Garden</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Project <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Project Description</h1>
      <br>
      <img src = '../images/overall_view_no_cover.png' width="550">
      <br>
      <br>
      <p class="lead">During quarantine, I bought a <a href = "https://www.raspberrypi.org/products/raspberry-pi-4-model-b/"> Raspberry Pi</a> and <a href = "https://www.amazon.com/gp/product/B07TLRYGT1/ref=ppx_yo_dt_b_asin_title_o04_s01?ie=UTF8&psc=1"> some </a> <a href = https://www.amazon.com/gp/product/B01J9GD3DG/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1> sensors </a> from Amazon to learn about IoT programming. After some tinkering, I thought an interesting project to learn would be to build a self-watering garden. Then, I bought some <a href = "https://www.amazon.com/gp/product/B06ZY8JGJ4/ref=ppx_yo_dt_b_asin_title_o04_s00?ie=UTF8&psc=1"> seeds </a> in an attempt to make this useful for more than my own learning to try to actually grow some herbs.</p>
      <p class="lead">Obviously, what I've done here is not the easiest, cheapest, or most effective way to grow herbs! It is way over-engineered for the purpose of learning about building systems with the pi.</p>
      <p class="lead">Also during quarantine, I wanted to beef up my web development skills, so built an API to which the pi can post the sensor readings, and a front-end which will render some cool graphics. Since I built the rest of the project in Python and it is my preferred programming language, I chose <a href="https://flask.palletsprojects.com/en/1.1.x/"> Flask </a> to build the web app. I hosted the app on <a href = "https://www.heroku.com/"> Heroku </a>, since it is so simple to use and has a free "hobby" tier and used <a href = "https://www.postgresql.org/"> PostgreSQL</a> for the database which will store the readings.
    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>
