
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Cohen Garden: Project Description</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/sticky-footer-navbar.css" rel="stylesheet">
  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Cohen Garden</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Dashboard</a>
          </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Project <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Project Description</h1>
      <br>
      <img src = 'static/images/overall_view_no_cover.png' class="img-fluid" width="550">
      <br>
      <br>
      <p class="lead">During quarantine, I bought a <a href = "https://www.raspberrypi.org/products/raspberry-pi-4-model-b/" target="_blank"> Raspberry Pi</a> and <a href = "https://www.amazon.com/gp/product/B07TLRYGT1/ref=ppx_yo_dt_b_asin_title_o04_s01?ie=UTF8&psc=1" target="_blank"> some </a> <a href = "https://www.amazon.com/gp/product/B01J9GD3DG/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1" target="_blank"> sensors </a> from Amazon to learn about IoT programming. After some tinkering, I thought an interesting project to learn would be to build a self-watering garden. Then, I bought some <a href = "https://www.amazon.com/gp/product/B06ZY8JGJ4/ref=ppx_yo_dt_b_asin_title_o04_s00?ie=UTF8&psc=1" target="_blank"> seeds </a> in an attempt to make this useful for more than my own learning to try to actually grow some herbs.</p>
      <p class="lead">Obviously what I've done here is not the easiest, cheapest, or most effective way to grow herbs. I really just built it to use any and all sensors I could connect to the Raspberry Pi. I don't even know if the herbs will grow well here, but it was a fun project (and I've got some seedlings coming in)! </p>
      <p class="lead">I also wanted to work on my web development skills, so I built an API to which the Pi can post the sensor readings and a front-end which will render some cool graphics. Since I built the rest of the project in Python and it is my preferred programming language, I chose <a href="https://flask.palletsprojects.com/en/1.1.x/" target="_blank"> Flask </a> to build the web app. Flask is incredibly intuitive and simple to work with. I hosted the app on <a href = "https://www.heroku.com/" target="_blank"> Heroku </a>, since it is so simple to use and has a free "hobby" tier and used <a href = "https://www.postgresql.org/" target="_blank"> PostgreSQL</a> for the database which will store the readings.
      <p class="lead">The code for the app which manages the garden can be found <a href="https://github.com/brandonfcohen1/garden_app" target="_blank">here</a> on GitHub.
      <p class="lead">The code for this web app can be found <a href="https://github.com/brandonfcohen1/garden_app_webapp" target="_blank">here</a> on GitHub.


      <br>
      <h1 class="mt-5">System Layout</h1>
      <p class="lead"> I'd like to make a better circuit diagram at some point, but this should do for now:</p>
      <img src = 'static/images/layout_with_tags.png' class="img-fluid">
      <p class="lead"> Some more views:</p>
      <br>
      <div class="row">
            <div class="text-center col-md-6">
                  <figure class="figure">
                    <img src = 'static/images/rpio_sensors.png' height="375" class="img-fluid">
                    <figcaption class="figure-caption">Closeup of environment sensors</figcaption>
                  </figure>
            </div>
            <div class="text-center col-md-6">
                  <figure class="figure">
                    <img src = 'static/images/rpi_close_up.png' height="375" class="img-fluid">
                    <figcaption class="figure-caption">Closeup of Raspberry Pi</figcaption>
                  </figure>
            </div>
      </div>
      <div class="row">
            <div class="text-center col-md-6">
                  <figure class="figure">
                    <img src = 'static/images/water.png' height="375">
                    <figcaption class="figure-caption">Closeup of water level sensor and water pump</figcaption>
                  </figure>
            </div>
            <div class="text-center col-md-6">
                  <figure class="figure">
                    <img src = 'static/images/soil.png' height="375">
                    <figcaption class="figure-caption">Closeup of soil moisture sensor</figcaption>
                  </figure>
            </div>
      </div>
      <br>
      <h1 class="mt-5">How it Works</h1>
      <p class="lead">I wrote a python script which runs on the Pi, and takes readings from all sensors every 5 minutes (the timing can be changed, obviously). After taking a reading, if the reading is above a certain threshold (indicating dry soil), the pump will turn on for 1 second. I determined this threshold experimentally through trial and error, and I expect to need to modify it over time. I am also very worried about over-watering, so I only allow the pump to run once in a 24 hour period using the automated script. If I press the Touch Sensor the pump will run for 0.5 seconds. Once the readings have been collected and pump run if necessary, the script will post to the web app's API to store the data in Postgres in the cloud.</p>
      <p class="lead">The full details can be found <a href="https://github.com/brandonfcohen1/garden_app" target="_blank">here</a> on GitHub.</p>
      <p class="lead">The web app is really simple. There is an endpoint at which the Raspberry Pi can post the latest readings, and some logic to render a set of latest readings in a pretty simple array of charts using matplotlib and mpld3. The code for the web app can be found <a href="https://github.com/brandonfcohen1/garden_app_webapp">here</a> on GitHub.</p>
      <p class="lead">The dashboard by default shows the last 6 hours of readings.</p>
      <p class="lead">From the dashboard, we can see some really interesting things in the data:</p>
      <img src = 'static/images/graph_markup.png' class="img-fluid">
      <p class="lead">Since this is an mpld3 rendering, you can use the home/zoom/pan icons at the bottom left of the screen to explore the data in more detail.</p>

      <br>
      <br>
      <br>
      <br>
      Questions? Feel free to reach out over <a href="mailto:brandon.f.cohen@gmail.com">email</a>.


    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>
